[submodule "lv_micropython"]
	path = lv_micropython
	url = https://github.com/lvgl/lv_micropython
[submodule "micropython-ulab"]
	path = micropython-ulab
	url = https://github.com/v923z/micropython-ulab.git
